<% if notice %>
  <div class="row">
    <div class="small-6 columns"></div>
    <div class="small-6 columns">
      <div data-alert class="alert-box info rounded">
          <%= notice %> <a href="" class="close">&times;</a>
      </div>
    </div>
  </div>
<% end %>

<div class="row add-space">
  <div class="large-12 columns">

    <div class="row">

      <div class="large-4 small-12 columns">

        <img src="http://placehold.it/500x500&amp;text=Logo">

        <div class="hide-for-small panel">
          <h3>Homespun</h3>
          <h5 class="subheader">Create, post, sell. Locally.</h5>
        </div>

        <div class="hide-for-small panel">
          <h3>Find a store</h3>
          <% @stores.each do |store| %>
            <h6><%= link_to store.name, store_path(store.id) %></h6>
          <% end %>
        </div>

      </div>

      <div class="large-8 columns">
        <div class="row">
          <% if @products.length > 0 %>
            <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3">
              <%= render @products %>
            </ul>
          <% else %>
            <div class="large-8 columns">
              <h1>No items for sale yet</h1>
            </div>
          <% end %>

        </div>

      </div>
    </div>

    <footer class="row">
      <div class="large-12 columns"><hr>
        <div class="row">

          <div class="large-6 columns">
            <p>© Copyright no one at all.</p>
          </div>

          <!--<div class="large-6 columns">-->
            <!--<ul class="inline-list right">-->
              <!--<li><a href="#">Link 1</a></li>-->
              <!--<li><a href="#">Link 2</a></li>-->
              <!--<li><a href="#">Link 3</a></li>-->
              <!--<li><a href="#">Link 4</a></li>-->
            <!--</ul>-->
          <!--</div>-->

        </div>
      </div>
    </footer>

  </div>
</div>